USE [master]
GO
/****** Object:  Database [syspox]    Script Date: 3/12/2021 3:14:14 PM ******/
CREATE DATABASE [syspox]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'syspox', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\syspox.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'syspox_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\syspox_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [syspox].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [syspox]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[addressId] [int] NOT NULL,
	[telefono] [varchar](50) NULL,
	[celular] [varchar](50) NULL,
	[comentario] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devoluciones]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devoluciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [varchar](50) NOT NULL,
	[descripcion] [text] NOT NULL,
	[monto] [varchar](50) NOT NULL,
	[fecha] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[calle] [varchar](50) NULL,
	[numero] [varchar](50) NULL,
	[manzana] [varchar](50) NULL,
	[sector] [varchar](50) NULL,
	[municipio] [varchar](50) NULL,
	[monto] [varchar](50) NULL,
	[comentarios] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meses]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [varchar](50) NULL,
	[mes] [varchar](50) NULL,
	[monto] [varchar](50) NULL,
	[fecha] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL,
	[pass] [nchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [cedula], [nombre], [addressId], [telefono], [celular], [comentario]) VALUES (2, N'00119260073', N'jhoniel garcia', 2, N'22657463573', N'6514635742', N'NADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIONADA DE COMENTARIO')
INSERT [dbo].[clientes] ([id], [cedula], [nombre], [addressId], [telefono], [celular], [comentario]) VALUES (4, N'40227599079', N'RONEL CRUZ', 1, N'8097162373', N'87851516526', N'ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ESTO ES UN COMENTARIO ')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[devoluciones] ON 

INSERT [dbo].[devoluciones] ([id], [idCliente], [descripcion], [monto], [fecha]) VALUES (1, N'2', N'dodododododod', N'800', NULL)
INSERT [dbo].[devoluciones] ([id], [idCliente], [descripcion], [monto], [fecha]) VALUES (2, N'2', N';KJLNMD FLK,CMNWSD', N'9865', NULL)
INSERT [dbo].[devoluciones] ([id], [idCliente], [descripcion], [monto], [fecha]) VALUES (3, N'4', N'nada solo un comentario', N'9000', N'3/12/2021 11:03:56 AM')
SET IDENTITY_INSERT [dbo].[devoluciones] OFF
GO
SET IDENTITY_INSERT [dbo].[direcciones] ON 

INSERT [dbo].[direcciones] ([id], [nombre], [calle], [numero], [manzana], [sector], [municipio], [monto], [comentarios]) VALUES (1, N'casa blanca', N'del carmen', N'20', N'4597', N'prado oriental', N'santo domingo este', N'12000', N'sin comentarios')
INSERT [dbo].[direcciones] ([id], [nombre], [calle], [numero], [manzana], [sector], [municipio], [monto], [comentarios]) VALUES (2, N'CASA VERDE', N'19', N'11', N'3946', N'LA ESPERANZA', N'SANTO DOMINGO ESTE', N'8500', N'SIN COMENTARIOs')
SET IDENTITY_INSERT [dbo].[direcciones] OFF
GO
SET IDENTITY_INSERT [dbo].[meses] ON 

INSERT [dbo].[meses] ([id], [name]) VALUES (1, N'enero     ')
INSERT [dbo].[meses] ([id], [name]) VALUES (2, N'febrero   ')
INSERT [dbo].[meses] ([id], [name]) VALUES (3, N'marzo     ')
SET IDENTITY_INSERT [dbo].[meses] OFF
GO
SET IDENTITY_INSERT [dbo].[municipios] ON 

INSERT [dbo].[municipios] ([id], [name]) VALUES (1, N'	Altamira	 - 	Puerto Plata	 ')
INSERT [dbo].[municipios] ([id], [name]) VALUES (2, N'	Arenoso	 - 	Duarte	 ')
INSERT [dbo].[municipios] ([id], [name]) VALUES (3, N'	Azua	 - 	Azua	 ')
GO
SET IDENTITY_INSERT [dbo].[municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos] ON 

INSERT [dbo].[pagos] ([id], [idCliente], [mes], [monto], [fecha]) VALUES (1, N'2', N'enero     ', N'8500', N'3/6/2021 2:40:27 PM')
INSERT [dbo].[pagos] ([id], [idCliente], [mes], [monto], [fecha]) VALUES (2, N'4', N'enero     ', N'12000', N'3/6/2021 3:19:51 PM')
INSERT [dbo].[pagos] ([id], [idCliente], [mes], [monto], [fecha]) VALUES (3, N'4', N'febrero   ', N'500', N'3/6/2021 3:21:39 PM')
SET IDENTITY_INSERT [dbo].[pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [pass]) VALUES (1, N'ronel     ', N'ronel08   ')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_getClientes]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getClientes]
AS
select c.nombre as NOMBRE,c.cedula as CEDULA,'CALLE '+upper(d.calle)+', NUMERO '+d.numero+'. '+upper(d.sector)+', '+upper(d.municipio) as DIRECCION,d.monto as TARIFA, c.telefono as TELEFONO,c.celular as CELULAR from clientes as c inner join direcciones as d on d.id=c.addressId
GO
/****** Object:  StoredProcedure [dbo].[SP_getDev]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_getDev] 
AS
BEGIN
	select C.cedula,c.nombre as NOMBRE, d.monto as MONTO,D.descripcion,d.fecha as FECHA from devoluciones d inner join clientes c on c.id=d.idCliente inner join direcciones di on di.id= c.addressId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getPagos]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getPagos]
AS
select c.nombre as CLIENTE, mes as 'MES CORRESPONDIENTE', p.monto as PAGADO, d.monto as ESPERADO,(CAST(d.monto AS int)-CAST(p.monto AS int)) as DIFERENCIA,p.fecha as 'FECHA DEL PAGO' from pagos p inner join clientes c on p.idCliente=c.id inner join direcciones d on c.addressId=d.id
GO
/****** Object:  StoredProcedure [dbo].[SP_reportAllPayments]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_reportAllPayments]
AS
SELECT c.cedula as CEDULA, c.nombre as NOMBRE,p.mes as MES,p.fecha as FECHA,p.monto as 'MONTO PAGADO',d.monto as TARIFA,(CAST(d.monto as int)-CAST(p.monto as int)) as DIFERENCIA  FROM pagos p inner join clientes c on p.idCliente = c.id inner join direcciones d on d.id=c.addressId order by c.nombre
GO
/****** Object:  StoredProcedure [dbo].[SP_reportAllPaymentsByCustomer]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_reportAllPaymentsByCustomer]
   @cedula as varchar(30)
AS
BEGIN
SELECT c.cedula as CEDULA, c.nombre as NOMBRE,p.mes as MES,p.fecha as FECHA,p.monto as 'MONTO PAGADO',d.monto as TARIFA,(CAST(d.monto as int)-CAST(p.monto as int)) as DIFERENCIA  FROM pagos p inner join clientes c on p.idCliente = c.id inner join direcciones d on d.id=c.addressId 
where c.cedula = @cedula
order by c.nombre
END
GO
/****** Object:  StoredProcedure [dbo].[SP_reportAllPaymentsByMonth]    Script Date: 3/12/2021 3:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_reportAllPaymentsByMonth]
	@mes as varchar(30)
AS
BEGIN
	select c.nombre as NOMBRE,c.cedula AS CEDULA,p.fecha AS FECHA,p.monto AS PAGADO,d.monto as TARIFA, CAST(d.monto as int)-CAST(p.monto as int) as DIFERENCIA ,c.telefono AS TELEFONO,c.celular AS CELULAR  from pagos p inner join clientes c on p.idCliente=c.id inner join direcciones d on d.id = c.addressId
	where mes = @mes
END
GO
USE [master]
GO
